{% extends "base.html" %}
{% block content %}


<style>
	body { margin:0; padding:0; }
	#map { position:absolute; top:0; bottom:0; width:100%; }


	.map-overlay {
		z-index: 9999;
		font: 12px/25px 'Helvetica Neue', Arial, Helvetica, sans-serif;
		position: absolute;
		width: 350px;
		top: 10px;
		right: 10px;
		padding: 0px;
		opacity: 0.9;
	}

</style>


<div id="map"></div>

<div class="map-overlay top card">
	<div class="card-header">
		<select class="form-control" id="neighborhood">
				<option>--Choose a neighborhood--</option>
			{% for neighborhood in neighborhoods %}
				<option>{{neighborhood.slug}}</option>
			{% endfor %}
		</select>

	</div>
	<div class="card-body" style="padding:10px 0px;margin: auto;">
		<h6>Incarceration by race</h6>
		<div id="chart" style="width: 300px; height: 300px;"></div>
	</div>
</div>


<!-- javascript -->
<script>

google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(start);

var mdh = {};
mdh.neighborhood = "downtown";

var mapCoords = [34.0409135,-118.2433899]
var map = L.map('map').setView(mapCoords, 13);

var allMarkers = {
	wMarkers: [],
	bMarkers: [],
	hMarkers: [],
	oMarkers: []
}

var wLayer = new L.featureGroup();
var bLayer = new L.featureGroup();
var hLayer = new L.featureGroup();
var oLayer = new L.featureGroup();

var colors = ['#4E4BBD','#B9C34F','#FE2226','#FFBD3A']

var chartdata = [];

function start()
{

	$('#neighborhood').on('change', function(){
		var selected = $(this).find("option:selected").val();
		console.log(selected)
		mdh.neighborhood = selected;
		getMarkers();

	});

	console.log('init')

	// basemap

	mdh.basemap_bw = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
		subdomains: 'abcd',
		maxZoom: 17
	});
	mdh.basemap_sat = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', { attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
		maxZoom: 17});
	
	mdh.basemap_sat.addTo(map);


	var popup = L.popup();

	getMarkers();
}

var drawChart = function(chartdata)
{
	mdh.chartdata = google.visualization.arrayToDataTable(chartdata);

	console.log(mdh.chartdata)

	var options = {
		// title: 'Incarceration by race',
		pieSliceText: 'label',
		legend: 'none',
		colors: colors,
		chartArea:{top:10,width:'100%',height:'80%'},
		is3D: true
	};

	var chart = new google.visualization.PieChart(document.getElementById('chart'));

	chart.draw(mdh.chartdata, options);
	google.visualization.events.addListener(chart, 'onmouseover', function(data){
		hoverPie(mdh.chartdata.getFormattedValue(data.row,0))
	});
	google.visualization.events.addListener(chart, 'onmouseout', function(data){
		wLayer.addTo(map);
		bLayer.addTo(map);
		hLayer.addTo(map);
		oLayer.addTo(map);
	});
}

var hoverPie = function(race)
{
	if(race == 'White')
	{
		wLayer.addTo(map);
		map.removeLayer(bLayer);
		map.removeLayer(hLayer);
		map.removeLayer(oLayer);
	}
	else if (race == 'Black')
	{
		bLayer.addTo(map);
		map.removeLayer(wLayer);
		map.removeLayer(hLayer);
		map.removeLayer(oLayer);
	}
	else if (race == 'Hispanic')
	{
		hLayer.addTo(map);
		map.removeLayer(bLayer);
		map.removeLayer(wLayer);
		map.removeLayer(oLayer);
	}
	else if (race == 'Other')
	{
		oLayer.addTo(map);
		map.removeLayer(bLayer);
		map.removeLayer(hLayer);
		map.removeLayer(wLayer);
	}

}

var getMarkers = function()
{
	// clear existing markers
	wLayer.clearLayers();
	bLayer.clearLayers();
	hLayer.clearLayers();
	oLayer.clearLayers();

	allMarkers.wMarkers = [];
	allMarkers.bMarkers = [];
	allMarkers.hMarkers = [];
	allMarkers.oMarkers = [];

	$.getJSON("/"+mdh.neighborhood+"/bookings",function(data){
		$.each(data,function(i,val){
			options = {
				lat : val.y,
				lon : val.x,
				name : val.home_addre,
				race : val.desc_
			}
			addMarker(options);
		})

		allMarkers.count = allMarkers.wMarkers.length + allMarkers.bMarkers.length + allMarkers.hMarkers.length + allMarkers.oMarkers.length;

		chartdata = [
			["race","count"],
			[ "White",allMarkers.wMarkers.length ],
			[ "Black",allMarkers.bMarkers.length ],
			[ "Hispanic",allMarkers.hMarkers.length ],
			[ "Other",allMarkers.oMarkers.length]
		]
		// console.log(chartdata)
	 	drawChart(chartdata);

		map.fitBounds(wLayer.getBounds())
	})
}

function addMarker(options){
	// Add marker to map at click location; add popup window
	var categories = {
		W: {
			color: '#4E4BBD',
			layer: wLayer
		},
		

	}

	if(options.race == 'W')
	{
		color = '#4E4BBD'
		layer2add = wLayer
	}
	else if (options.race == 'B')
	{
		color = '#B9C34F'
		layer2add = bLayer
	}
	else if (options.race == 'H')
	{
		color = '#FE2226'
		layer2add = hLayer
	}
	else 
	{
		color = '#FFBD3A'
		layer2add = oLayer
	}

	markerOptions=
	{
		radius: 8,
		fillColor: color,
		// fillColor: categories.options.race.color,
		color: "white",
		weight: 1,
		opacity: 1,
		fillOpacity: 0.9
	}

	thisMarker = L.circleMarker([options.lat,options.lon],markerOptions).bindPopup("<b>"+options.name+"</b>").addTo(layer2add);

	wLayer.addTo(map);
	bLayer.addTo(map);
	hLayer.addTo(map);
	oLayer.addTo(map);

	if(options.race == 'W')
	{
		allMarkers.wMarkers.push(thisMarker);
	}
	else if (options.race == 'B')
	{
		allMarkers.bMarkers.push(thisMarker);
	}
	else if (options.race == 'H')
	{
		allMarkers.hMarkers.push(thisMarker);
	}
	else 
	{
		allMarkers.oMarkers.push(thisMarker);
	}


}


</script>
{% endblock %}